# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Cypress
cypress/videos/
cypress/screenshots/
cypress/downloads/
cypress/support/credentials.json

# Cypress cache
.cypress/
.cache/

# Environment variables
.env
.env.*
!.env.example
cypress.env.json

# OS / Editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build / coverage
dist/
build/
coverage/

# Logs
logs/
*.log

# WSL / Linux temp
*~